<h3>New Gist</h3>

<form action="" method="post">

  <label>Title<br>
    <input type="text" name="gist[title]">
  </label>

  <div id="gistFile">

  </div>
  <button id="add_gistfile_form">Add new gistfile</button><br>

  <div id="search_text_box"></div>

  <input type="submit" value="Create">
</form>

