<li>
  <%= gist.escape('title') %>

  <div class="<%= (gist.get('favorites')) ? '' : 'can-favorite' %>">
    <button class="favorite">Favorite</button>
    <button class="unfavorite">Unfavorite</button>
  </div>
</li>
<hr>