<hr>
<label for="gistfile_name">File Name</label><br>
<input type="text" id="gistfile_name" name="gistfile[name]"><br>

<label for="gistfile_body">Body</label><br>
<textarea id="gistfile_body" name="gistfile[body]"></textarea><br>
<hr>