<!DOCTYPE html>
<html>
<head>
  <title>GistClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <ul>
    <li>Signed in as: <%= current_user.username %></li>
    <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
  </ul>
<% else %>
  <%= link_to "Sign In", new_session_url %> or
  <%= link_to "Sign up", new_user_url %>
<% end %>

<%= yield %>

</body>
</html>
